@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Black.woff2') format('woff2'),
    url('Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Bold.woff2') format('woff2'),
    url('Arial-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Regular.woff2') format('woff2'),
    url('Arial-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
